
/*------------------------------*/
/*-----fondo de pagina----------*/
/*------------------------------*/

body{
    background-image: url(../img/Planeta.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 23px;
}


/*----------------------------*/
/*------ contenedor1------------*/
/*----------------------------*/

#contenedor_1{
    background-color: rgb(22, 20, 20);
    width: 700px;
    margin-left: 22%;
    margin-right:22% ;
    margin-top: 10%;
    padding: 25px 25px 25px 25px;
    border-radius: 5px;
}


/*---------------------------*/
/*-----contenedor2-----------*/
/*---------------------------*/

.contenedor_2{
    width: 500px;
    background-color: rgb(235, 224, 224);
    border-radius:5px ;
    margin: 30px auto;
}




/*----------------------------*/
/*--------styles of body------*/
/*----------------------------*/

h2{
    color: rgb(0, 0, 0);
    background-color: #fff;
    margin-left: 28%; 
    text-align: center;
    width: 40%;
    font-size: 28px;
    border-radius: 3px;
}

.label{
    color: #000;
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
}

.contenedor_parrf{
    width: 50%;
    margin-left: 120px;
}

#contenido_fecha{
    width: 60%;
    margin-left: 120px;
}

.contenedor_preguntas{
    width: 90%;
    padding: 20px 25px 20px 25px;
}

.input{
    width: 200px;
    margin-left:120px;
    border-style:inset;
    border-radius: 5px;
    border-color: #000 solid;
}

.option{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    color: #000;
    margin-left: 120px;
    width: 200px;
    border-style: inset;
    border-radius: 5px;
    border-color: #000 solid;
}

.radio_input{
    border: 5px;
    border-color:#000 solid ;
    margin-left: 5px;
    margin-right: 5px;
    border-style: inset;
}

.button{
    background-color: rgb(22, 20, 20);
    border: 3px;
    border-style: inset;
    border-color: #000 solid;
    border-radius: 5px;
    width: 90px ;
    height: 40px;
    font-size: 15px;
    font-family: initial;
    margin: 0 10px 0 10px;
    box-shadow: 5px 10px 5px #000;
    color: #fff;
}


.button:hover{
    color: #fff;
    background:rgb(22, 20, 20);
    box-shadow: 0 0 0 #000;
}

.contenedor_parrf2{
    width: 60%;
    margin-left: 120px;
}